<main class="mainView_week">
    <div class="day_weekView">
        <div>
            <h3>Monday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="day_weekView">
        <div>
            <h3>Tuesday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="day_weekView">
        <div>
            <h3>Wednesday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="day_weekView">
        <div>
            <h3>Thursday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="day_weekView">
        <div>
            <h3>Friday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="day_weekView">
        <div>
            <h3>Saturday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="day_weekView">
        <div>
            <h3>Sunday</h3>
            {{#each template.hours}}
            <div class="day_hourSpan">
                <p>{{this}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</main>
